<h1>Results Page</h1>

<section>
  <ul class="list-group">
  {{#if model}}
    {{#each model.projects as |project|}}
      <li class="list-group-item list-group-item-action">
         <div class="project-description">
             Share {{project.share}} of {{project.of}} with {{project.with}} by {{project.by}}
             <div class="voteButtons">
                <button type="button" class="btn btn-default btn-sml" {{action 'upVote' project.id project.popularity}}>
                  <span class="glyphicon glyphicon-arrow-up" name="upVote" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-sml" {{action 'downVote' project.id project.popularity}}>
                  <span class="glyphicon glyphicon-arrow-down" name="downVote" aria-hidden="true"></span>
                </button>
             </div>
         </div> 
          <div class="project-reason">
              <b> Reason: {{project.reason}}</b>
              <br> Popularity: {{project.popularity}}
              <br><i>key: {{project.id}}</i>
          </div>
      </li>
    {{/each}}
  {{else}}
      <li class="list-group-item list-group-item-action">
        No projects found :(
      </li>
  {{/if}}
  </ul>
</section>
{{outlet}}
